body {
  color: white;
  font-family: 'Proza Libre', sans-serif;
}
h1, h3 {
  text-align: center;
  color: black;
}

h1 {
  margin-top: 5vh;
}
#container {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}
.section {
  height: 40vh;
  width: 50%;
  margin: 0 auto;
}
#zero{
  float: left;
  background: #6b6b6b;
}
#first{
  float: right;
  background: #4BC8E2;
}
#second{
  float: left;
  background: #8BDCC5;
}
#third{
  float: right;
  background: #1aa9a8;
}
#fourth{
  float: left;
  background: #22dcda;
}
#fifth{
  float: right;
  background: #66e2e1;
}

.projtitle {
  font-size: 7vh;
  text-align: center;
  margin: 5vh;
  vertical-align: center;
}
.projlink{
  font-size: 3vh;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
}
