.headlines {
  margin-top: 2%;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

p {
  color: grey;
}

#intro{
  background-color: #f9f9f7;
}

.tagline{
  padding-top: 20%;
}

.jumbotron{
  background-image: url('http://i.imgur.com/SW2arIy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f9f9f7;
  width: auto;
  height: auto;
  padding-top: 20%;
  padding-bottom: 37%;
}

/*.project{
  opacity: .5;
}*/

.project:hover{
  transform: scale(1.25,1.25);
-webkit-transform:scale(1.25,1.25);
-moz-transform:scale(1.25,1.25);
-ms-transform:scale(1.25,1.25);
-o-transform:scale(1.25,1.25);
}

.projectName{
  text-align: center;
  padding: 2%;
}


.pink{
  background-color: #fc7f6f;
  padding: 1%;
  margin-bottom: 4%;
}

.blue{
  background-color: #adeeef;
  padding: 1%;
  margin-bottom: 4%;
}

.yellow{
  background-color: #f0e786;
  padding: 1%;
  margin-bottom: 4%;
}

.green{
  background-color: #ccf6e7;
  padding: 1%;
  margin-bottom: 4%;
}
