.headlines {
  margin-top: 2%;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

p {
  color: grey;
}

#intro{
  background-color: #f9f9f7;
}

.tagline{
  padding-top: 20%;
}

.jumbotron{
  background-image: url('http://i.imgur.com/SW2arIy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f9f9f7;
  width: auto;
  height: auto;
  padding-top: 20%;
  padding-bottom: 37%;
}

.portfolio:hover{
  opacity: 0.5;
}

.project {
  display: none;
  position: absolute;
  padding-left: 5%;
  padding-top: 5%;
  color: black;
}

.portfolio:hover .project {
  display: inline;
}
