.headlines {
  margin-top: 2%;
  text-align: center;
}

.name {
  font-size: 12vh;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

p {
  color: grey;
}

#intro {
  background-image: url('va.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #f9f9f7;
  width: 100%
}

#first{
  display: inline-block;
  height: 50vh;
  background: #6b6b6b;
}
#second{
  display: inline-block;
  height: 50vh;
  background: #4BC8E2;
}
#third{
  display: inline-block;
  height: 50vh;
  background: #8BDCC5;
}
#fourth{
  display: inline-block;
  height: 50vh;
  background: #1aa9a8;
}
#fifth{
  display: inline-block;
  height: 50vh;
  background: #22dcda;
}
#sixth{
  display: inline-block;
  height: 50vh;
  background: #66e2e1;
}

.contactSection {
  background-color: grey;
}

img {
  margin: 20px;
}
